<main class="starships">
  <app-score-bar
    [playerOneScore]="playerOneScore"
    [playerTwoScore]="playerTwoScore"
  ></app-score-bar>

  <div class="button-container">
    <button mat-raised-button (click)="submitForm()" [disabled]="!resourceFormGroup.valid">FIGHT!</button>
  </div>

  <div [formGroup]="resourceFormGroup" class="resource-container">
    <mat-form-field>
      <mat-label>Resource</mat-label>
      <mat-select formControlName="resource">
        <mat-option *ngFor="let resource of resources" [value]="resource">
          {{resource}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="cards-container">
    <app-starship-card
      [starship]="playerOneStarship"
      [resources]="resources"
    ></app-starship-card>
    <app-starship-card
      [starship]="playerTwoStarship"
      [resources]="resources"
    ></app-starship-card>
  </div>
</main>
